---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Pain from '../components/Pain.astro';
import Solution from '../components/Solution.astro';
import HowItWorks from '../components/HowItWorks.astro';
import SocialProof from '../components/SocialProof.astro';
import CTAForm from '../components/CTAForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Pain />
    <Solution />
    <HowItWorks />
    <SocialProof />
    <CTAForm />
  </main>
  <Footer />
</Layout>
